<html>



<body>


<main>

    <h1>Articles de la liste</h1>

    <ul>
        {% for article in articles %}
        
          <article>

                <h2>{{ article.title }}</h2>

            </article>

        {% endfor %}


</main>





</body>






</html>